beautifulsoup4
livelossplot
humanize
pandas
numpy
torch
torchvision
opencv-python
Pillow
rasterfairy
seaborn
hdbscan
umap-learn
pytest
requests
tqdm
twill
setuptools
sklearn
mlxtend